pillow
numpy
scipy
scikit-image
tqdm
mmdet
instaboostfast
install pytorch cudatoolkit=11.0 torchvision -c pytorch
git+https://github.com/cocodataset/panopticapi.git
git+https://github.com/lvis-dataset/lvis-api.git
albumentations>=0.3.2 --no-binary imgaug,albumentations
mmcv-full -f https://download.openmmlab.com/mmcv/dist/cu110/torch1.7.0/index.html
